body {
    margin: 0;
    font-family: "Roboto Light", Roboto, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

header {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    color: white;
    background: linear-gradient(0, #706eff, #a59cff);
    box-shadow: 1px 1px 7px grey;
}

header a {
    padding: 15px 20px;
    display: block;
    float: left;
    font-size: 18px;
}

header .right {
    float: right;
}

.post {
    position: relative;
    margin: 30px 40px;
    padding: 20px 30px;
    box-shadow: 1px 1px 6px grey;
}

.post .info {
    margin: 5px 0;
}

.post .info .field {
    font-weight: bold;
    font-size: 13px;
}

.post .info .value {
    font-size: 15px;
}

.post .text {
    margin-bottom: 5px;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 15px 0;
    text-align: center;
    background-color: #cccccc;
}

form {
    width: 60%;
    box-shadow: 2px 2px 10px rgba(0, 0, 255, 0.15);
    padding: 20px 5%;
    margin: auto;
}

label {
    opacity: 0.7;
}

input {
    width: 100%;
    margin: auto;
    display: block;
    border: 1px solid darkblue;
    border-radius: 2px;
    box-shadow: 2px 2px 4px lightgray;
}

input[type="text"], input[type="email"], input[type="password"] {
    padding: 10px;
    font-size: medium;
    margin-bottom: 10px;
}

input[type="button"], input[type="reset"], input[type="submit"] {
    width: 150px;
    padding: 15px;
    background: linear-gradient(180deg, white, rgba(0, 0, 255, 0.1));
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.7);
}